@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.border-gradient {
  position: relative;
  display: inline-flex; /* keep content aligned like a button */
  align-items: center;
  gap: 0.5rem; /* spacing between icon & text */
  padding: 0.75rem 1.25rem; /* button-like spacing */
  border-radius: 9999px; /* fully rounded like your screenshot */
  background: linear-gradient(90deg, #4c4c4c, #434672);
  z-index: 0;
}

.border-gradient::before {
  content: "";
  position: absolute;
  inset: 2px; /* border thickness */
  border-radius: 9999px; /* keep same rounded shape */
  /* background: #1a1a1add;  */
  background: #191e28;
  z-index: -1;
}

.border-gradient-flow {
  position: relative;
  display: inline-flex; /* keep content aligned like a button */
  align-items: center;
  padding: 1.5rem 5rem; /* button-like spacing */
  border-radius: 5px; /* fully rounded like your screenshot */
  background: linear-gradient(90deg, #434672, #755a5a);
  z-index: 0;
}

.border-gradient-flow::before {
  content: "";
  position: absolute;
  inset: 1.3px; /* border thickness */
  border-radius: 5px; /* keep same rounded shape */
  background: #191e28; /* inner background (same as your container bg) */
  z-index: -1;
}
